
App_NAME=mini-rag
App_DESCRIPTION=Mini RAG (Retrieval-Augmented Generation) is a lightweight, efficient framework designed for building and deploying RAG applications with minimal overhead.
App_VERSION=1.0.0
FILE_EXTENSIONS=["text/plain","application/pdf"]
FILE_MAX_SIZE=10
FILE_CHUNK_SIZE=51200